# Byte-code files
*.pyc
__pycache__/
venv/

# Virtual environment
.venv/
env/
ENV/
build/
develop-eggs/
dist/
parts/
sdist/
var/

# Dependencies
.pip/
.tox/
.gradle/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
test-reports/
tmp/
.svn/
CVS/
.pc/

# Editors and IDEs
.idea/             # JetBrains IDEs (PyCharm, etc)
.vscode/           # VS Code
*.swp              # Vim
*.swo              # Vim
.DS_Store          # macOS
Thumbs.db          # Windows

# Specific to Jupiter Notebooks
.ipynb_checkpoints

# Specific to Conda environments
.conda/
condaenv/

